---
export async function getStaticPaths() {
    const posts = await getPostsFromWordpress(0, 5);
    return Array.from({ length: posts.totalPages }, (_, index) => ({
        params: { page: index + 1 },
    }));
}

import BlogPost from "../../components/blog/BlogPost.astro";
import Layout from "../../layouts/Layout.astro";
import { getPostsFromWordpress } from "../../lib/Wordpress";
const { page } = Astro.params;
const posts = await getPostsFromWordpress(page, 5);
---

<Layout title="Blog">
    <div class="full-width-container pb-14 pt-20">
        <div class="content-width-full">
            <h2 class="py-10">Blog</h2>
            <div class="flex flex-col gap-12">
                {posts.posts.map((post) => <BlogPost post={post} />)}
            </div>
            <div class="flex my-6">
                {
                    page > 1 ? (
                        <a
                            class="w-16 text-blue-500"
                            href={`/blog/${+page - 1}`}
                        >
                            Back
                        </a>
                    ) : (
                        <span class="w-16 text-blue-100">Back</span>
                    )
                }
                {
                    page < posts.totalPages ? (
                        <a
                            class="w-16 text-blue-500"
                            href={`/blog/${+page + 1}`}
                        >
                            Next
                        </a>
                    ) : (
                        <span class="w-16 text-blue-100">Next</span>
                    )
                }
            </div>
        </div>
    </div>
</Layout>
