---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div class="full-width-container pb-14 pt-20">
        <div class="content-width-full">
            <h2 class="py-10">Blog</h2>
        </div>
    </div>
</Layout>
