---
import { Picture } from "astro:assets";
---

<div class="full-width-container">
    <div class="content-width-full pt-12">
        <div class="flex flex-col lg:flex-row gap-8 lg:gap-5">
            <div class="grow space-y-3 text-xl">
                <h3 class="text-3xl font-serif">
                    Start Your Modernization Journey — With a Free Expert Code
                    Review
                </h3>
                <p>
                    I invite you to book a call with me so that I can better
                    understand your needs. I will gladly perform a free code
                    review of your existing application and create a report with
                    key recommendations. After reviewing my report, if you would
                    like to move forward with my services, you can hire me for
                    my contract rate of CA$90 / hour.
                </p>
                <p>
                    Taking the first step may seem daunting, but staying on your
                    current path is also risky. Without modernizing your stack,
                    your backlog continues to grow and dissatisfaction mounts.
                    Let me help you build a new solution that delights your end
                    users and keeps up with business demands. You will breathe a
                    sigh of relief when you ditch the legacy system once and for
                    all.
                </p>
                <div>
                    <p
                        class="text-center text-cyan-600 font-bold py-3 text-3xl"
                    >
                        <a href="/contact"
                            >👉 Book a call with me today!</a
                        >
                    </p>
                </div>
            </div>
            <div class="lg:w-128 flex-none">
                <Picture
                    src="/smiling_man.jpg"
                    alt="Mockup of the MemberPlus application"
                    width={1000}
                    height={667}
                    class="lg:float-right rounded-lg"
                />
            </div>
        </div>
    </div>
</div>
