<div
    class="flex-row align-center justify-items-center py-16 px-3"
    id="contact"
>
    <h2 class="text-4xl font-serif pb-4">Ready to get started?</h2>
    <div>
        <a href="/contact" class="text-cyan-500 text-4xl"
            >Let&apos;s talk!</a
        >
    </div>
</div>
