<div class="full-width-container" id="services">
    <div class="content-width-full pt-14">
        <h2 class="pb-8 text-4xl font-serif">My Experience</h2>
        <div class="grid grid-cols-3">
            <div class="col-span-3 lg:col-span-2 text-xl space-y-3">
                <p>
                    I received my undergraduate Degree from the University of
                    Alberta where I graduated with a Major in Computing Science
                    and a Minor in Philosophy.
                </p>
                <p>
                    I have been working professionally in Software Development
                    since 2016, focusing on the .NET ecosystem. During this
                    time, I&apos;ve helped enterprise organizations modernize
                    their websites, streamline processes, and integrate CRM
                    platforms to create smoother end user experiences.
                </p>
            </div>
        </div>
    </div>
</div>
