<div
    class="bg-[url('/abstract2m2.jpg')] sm:bg-[url('/abstract2.webp')] from-cyan-800 to-cyan-shade flex h-[100vh] min-h-140 bg-cover"
>
    <div class="flex grow justify-center bg-black/50">
        <div
            class="flex flex-col max-w-6xl grow items-center px-8 sm:px-16 lg:px-32 sm:flex-row pt-12 lg:pt-0 text-center lg:text-right gap-10"
        >
            <div>
                <h2 class="text-white text-3xl lg:text-5xl font-serif">
                    Hi, I&apos;m Joel 👋
                </h2>
                <p class="text-white text-2xl lg:text-3xl mt-10">
                    I help .NET shops modernize their stack.
                </p>
                <div class="mt-10">
                    <a
                        href="/contact"
                        class="bg-fresh-lime-500 hover:bg-aqua-glow-400 text-white text-2xl px-4 py-3 rounded-lg"
                    >
                        📲 Contact Me
                    </a>
                </div>
            </div>
            <div class="grow flex flex-col justify-center">
                <img
                    src="/moi.jpg"
                    alt="A picture of me (Joel)"
                    width={327}
                    height={327}
                    class="rounded-full border-5 border-teal-700 mx-3 shadow-md"
                />
            </div>
        </div>
    </div>
</div>
