---
import Picture from "astro/components/Picture.astro";
import AbstractImg from "../../../public/abstract2.jpg";
---

<div
    class="relative from-cyan-800 to-cyan-shade flex h-[100vh] min-h-140 bg-cover"
>
    <div class="absolute flex w-full h-full -z-1">
        <Picture
            class="object-cover h-full w-[100vw] -z-1"
            layout="full-width"
            src={AbstractImg}
            alt="Abstract bacvkground"
            fit="cover"
            priority
        />
    </div>
    <div class="flex grow justify-center bg-black/50">
        <div
            class="flex flex-col max-w-6xl grow items-center px-8 sm:px-16 lg:px-32 sm:flex-row pt-12 lg:pt-0 text-center lg:text-right gap-10"
        >
            <div>
                <h2 class="text-white text-3xl lg:text-5xl font-serif">
                    Hi, I&apos;m Joel 👋
                </h2>
                <p class="text-white text-2xl lg:text-3xl mt-10">
                    I help .NET shops modernize their stack.
                </p>
                <div class="mt-10">
                    <a
                        href="/contact"
                        class="bg-fresh-lime-500 hover:bg-aqua-glow-400 text-white text-2xl px-4 py-3 rounded-lg"
                    >
                        📲 Contact Me
                    </a>
                </div>
            </div>
            <div class="grow flex flex-col justify-center">
                <Picture
                    src="/moi.jpg"
                    alt="A picture of me (Joel)"
                    width={327}
                    height={327}
                    class="rounded-full border-5 border-teal-700 mx-3 shadow-md"
                    priority
                />
            </div>
        </div>
    </div>
</div>
