---
import { Image } from 'astro:assets';
---

<div class="full-width-container" id="portfolio">
    <div class="content-width-full pt-12">
        <h2 class="pb-8 text-4xl font-serif">Portfolio</h2>
        <div class="flex flex-col lg:flex-row gap-8 lg:gap-5">
            <div class="grow ">
                <h3 class="text-3xl pb-8 font-serif">MemberPlus</h3>
                <p class="text-xl pb-8">
                    A multi-tenant membership management platform developed
                    using ASP.NET Web API and React Router. The system supports
                    organization-level data segregation, user authentication,
                    subscription renewals, and RESTful API integration for
                    external services.
                </p>
                <div class="flex gap-3">
                    <a
                        href="https://github.com/Midnight-Sky-Software-Solutions/memberplus"
                        target="_blank"
                        class="bg-fresh-lime-500 hover:bg-aqua-glow-400 text-white text-xl px-3 py-2 rounded-lg"
                    >
                        GitHub
                </a>
                </div>
            </div>
            <div class="lg:w-128 flex-none">
                <Image
                    layout="constrained"
                    loading="lazy"
                    src="/memberplus_mockup2.jpg"
                    alt="Mockup of the MemberPlus application"
                    width={3700}
                    height={2160}
                    class="lg:float-right rounded-lg"
                />
            </div>
        </div>
    </div>
</div>
