<div
    class="bg-[url(/experiencem.jpg)] md:bg-[url(/experience.webp)] bg-center md:bg-top bg-cover bg-fixed h-60 mt-10"
>
    <div class="full-width-container bg-black/60 h-60">
        <div class="content-width-full flex flex-col justify-center">
            <ul class="text-white text-2xl font-bold sm:grid grid-cols-3">
                <li class="flex items-center">
                    <img
                        width={48}
                        height={48}
                        src="/check.png"
                        alt="Checkmark"
                    />React Expertise
                </li>
                <li class="flex items-center">
                    <img
                        width={48}
                        height={48}
                        src="/check.png"
                        alt="Checkmark"
                    />7 Years of .NET Experience
                </li>
                <li class="flex items-center">
                    <img
                        width={48}
                        height={48}
                        src="/check.png"
                        alt="Checkmark"
                    />Solutions serving 70,000+ users
                </li>
            </ul>
        </div>
    </div>
</div>
