    <div class="full-width-container bg-linear-to-t from-blue-100/30 to-white">
      <div class="content-width-full pt-14 text-center">
        <h3 class="pb-8 text-4xl font-serif">Free Migration Readiness Assessment</h3>
        <div class="lg:grid grid-cols-12">
          <div class="col-start-3 col-end-11 text-xl space-y-6 pb-12">
            <p>
              Do you have have a legacy project built in ASP.NET Web Forms or ASP.NET MVC?
              Are you considering migrating, but want to know the risks and required effort first?
              I will conduct a <strong>free</strong> 1 hour code review of your project to assess your readiness.
            </p>
            <a
              href="/contact"
              class="bg-fresh-lime-500 hover:bg-aqua-glow-400 text-white text-xl px-3 py-2 rounded-lg"
            >
              Next Steps
        </a>
          </div>
        </div>
      </div>
    </div>