---
interface Props {
	title?: string;
}

import "../styles/globals.css";
import "@fontsource/marvel";
import NavBar from "../components/Navbar";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>
			{title || "ASP.NET Modernization Services"} | Joel Johnston
		</title>
		<link rel="stylesheet" href="https://use.typekit.net/bcn7uzq.css" />
		<link rel="preload" href="/moi.jpg" as="image" fetchpriority="high" />
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-G2W02313YC"
		></script>
	</head>

	<script is:inline>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-G2W02313YC");
	</script>
	<body>
		<NavBar client:load />
		<slot />
		<Footer />
	</body>
</html>
