---
import "../styles/globals.css";
import '@fontsource/marvel';
import NavBar from "../components/Navbar";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<link rel="stylesheet" href="https://use.typekit.net/bcn7uzq.css" />
		<link rel="preload" href="/moi.jpg" as="image" fetchpriority="high">
	</head>
	<body>
		<NavBar client:load />
		<slot />
	</body>
</html>
